[user]
	name = Pranav RK
	email = pranavrk7@gmail.com
[core]
	editor = nvim
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	autocrlf = input
[merge]
	tool = vimdiff
[credential]
	helper = store
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = secretservice
[help]
	autocorrect = 20
[alias]
	st = status
	ci = commit
    cm = commit -m
    ca = commit --amend
    br = branch
	co = checkout
	ssb = status -sb
	d = diff
	dt = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = true
[pull]
	rebase = true
[fetch]
	prune = true
[credential "https://dev.azure.com"]
	useHttpPath = true
